* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #e6e6e6;
    user-select: none;
    font-family: 'Pacifico', cursive;
    color: white;
}

a {
    color: #ffffff;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.header h1 {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    text-transform: uppercase;
}

.header {
    width: 100%;
    background: dodgerblue;
    padding: 16px 0;
}

main {
    width: 40%;
    margin: 2em auto 0;
    background-color: #414f96;
    padding: 10px;
}

#sticky {
    margin-top: 1em;
    width: 100%;
    height: 44px;
    padding-top: 20px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
}

#minesweeper {
    display: grid;
    grid-auto-flow: row;
}

.row {
    display: grid;
    grid-auto-flow: column;
   grid-template-columns: repeat(auto-fit, minmax(10px, .5fr));
}

.box {
    color: #ffffff;
    justify-content: center;
    display: block;
    font-size: 1.5em;
    text-align: center;
    overflow: visible;
    border: #193e45 1px solid;
    cursor: pointer;
    background-color: #1a2851;
}

.box:hover {
    opacity: 0.6;
    border-color: #7cff25;
}

#alert {
    font-size: 1.3em;
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.extras {
    margin: 5px auto;
    justify-content: center;
    background-color: #8f8f8f;
}

.btn {
    font-family: 'Pacifico', cursive;
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.box span {
    width: 0;
}

@media only screen and (max-width: 1200px) {
    main {
        width: 60%;
    }
    #alert{
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 800px) {
    main {
        width: 70%;
    }
    #alert{
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
        min-width: 400px;
        padding: 1px;
    }

    #alert{
        font-size: 1em;
    }
}